/**Top menu**/
#horizontal-multilevel-menu
{
	font-size: 80%;
	height: 37px;
	line-height: 37px;
	background: url(images/top_menu_left.png) no-repeat;
}
#horizontal-multilevel-menu,
#horizontal-multilevel-menu ul
{
	list-style: none;
	margin: 0 auto; 
	padding: 0;
	position: relative; /*IE bug*/
	float: left;
}

#horizontal-multilevel-menu
{
	width: 100%;
}

#horizontal-multilevel-menu td,
#horizontal-multilevel-menu li 
{
	text-align: center;
	white-space: nowrap;
}
#horizontal-multilevel-menu a span {
  display: block;
}
#horizontal-multilevel-menu .menu-item
{
	background: url(images/top_menu_item.gif);
}

#horizontal-multilevel-menu .menu-split
{
	background: url(images/top_menu_split.gif) no-repeat;
}
#horizontal-multilevel-menu .item-next .menu-split,
#horizontal-multilevel-menu .selected .menu-split
{
	background: none;
}

#horizontal-multilevel-menu .selected
{
	background: url(images/top_menu_sel.gif) repeat-x;
}

#horizontal-multilevel-menu a,
#horizontal-multilevel-menu a:link, 
#horizontal-multilevel-menu a:visited, 
#horizontal-multilevel-menu a:active, 
#horizontal-multilevel-menu a:hover
{
	color: #3c3c3c;
	text-decoration: none;
}

#horizontal-multilevel-menu a.root-item-selected
{
	color: #fff;
}

#horizontal-multilevel-menu .menu-item.item-left
{
	background: none;

}
#horizontal-multilevel-menu .item-left .menu-split
{
	padding-right: 9px;	
	margin-left: 18px;
	background: url(images/top_menu_item.gif);
}
#horizontal-multilevel-menu .item-left.selected .menu-split
{
	background: url(images/top_menu_sel.gif) repeat-x;
}
#horizontal-multilevel-menu .menu-item.item-right
{
	width: 41px;
	padding: 0;
	background: url(images/top_menu_right.png) no-repeat;
}

/*Sub-menu box*/
#horizontal-multilevel-menu ul
{
	font-size: 85%;
	display: none;
	top: auto;
	z-index: 500;
	position: absolute;
	height: auto;
	background: #F5F5F5;
	border-left: 1px solid #C1C1C1;
	border-right: 1px solid #C1C1C1;
	border-bottom: 1px solid #C1C1C1;
	padding: 5px;
}

#horizontal-multilevel-menu ul li
{
	background: none;
	text-align: left;
	height: 30px;
	line-height: 30px;
}

#horizontal-multilevel-menu ul li .submenu-item
{
	height: 30px;
	line-height: 30px;
	padding: 0 20px 0 20px;
}

#horizontal-multilevel-menu ul li.selected
{
	background-image: none;
	background-color: #3BAF2C;
}

#horizontal-multilevel-menu li ul ul
{
	margin: -27px 0 0 132px;
}

#horizontal-multilevel-menu td:hover ul,
#horizontal-multilevel-menu td.jshover ul
{
	display: block;
}


#horizontal-multilevel-menu td.jshover,
#horizontal-multilevel-menu td.jshover.item-left .menu-split
{
	background: url(images/fon.gif) repeat-x;	
}
#horizontal-multilevel-menu td.jshover a,
#horizontal-multilevel-menu td.jshover li.selected a
{
	color: #fff;
}

#horizontal-multilevel-menu td.jshover li a
{
	color: #3c3c3c;
}

#horizontal-multilevel-menu li.jshover
{
	background: url(images/fon.gif) repeat-x;	
}
#horizontal-multilevel-menu td.jshover li.jshover a
{
	color: #fff;
}

div.menu-clear-left
{
	clear:left;
}