.partner
{
	width: 450px;
}
.partner td
{
	padding-top: 10px;
}
.partner .input-title
{
	font-weight: bold;
}
.partner  label
{
	font-size: 90%;
}
.partner .starrequired
{
	color: #f00;
}
.partner input[type="text"],
.partner textarea,
.partner select
{
	width: 440px;
}
.partner input[type="submit"]
{
	float: right;
}