/* Catalog menu*/
.catalog-menu
{
	width: 100%;
	line-height: normal;
}
.catalog-menu td
{
	vertical-align: bottom;
	text-align: center;
}
.catalog-menu td img
{
	padding: 0 15px;
}
.catalog-menu td .item-name
{
	line-height: 32px;
	height: 32px;
	text-align: center;
	position: relative;
}
.catalog-menu td .item-name > a
{
	z-index: 100;
	position: relative;
}
.catalog-menu td h1
{
	font-size: 30px;
}
.catalog-menu td div.line
{
	height: 30px;
	background: url(images/line.gif) repeat-x center center;
	margin-top: 10px;
}
.catalog-menu td div.item-line
{
	height: 30px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.catalog-menu td.selected div.item-line
{
	background-image: url(images/line2.gif);
}
.catalog-menu td .circle
{
	height: 30px;
	width: 30px;
	background: url(images/circle.gif) no-repeat center center;
	line-height: 30px;
	margin: auto;
	color: #105098;
	font-weight: bold;
}
.catalog-menu td .circle a
{
	text-decoration: none;
}
.catalog-menu td.selected .circle
{
	background-image: url(images/circle2.gif);
	color: #309810;
}

.catalog-menu .submenu-container ul
{
	padding: 5px 0;
}
.catalog-menu .submenu-container li
{
	padding: 5px 0;
	list-style-type: none;
}

.catalog-menu .submenu-container
{
	top: 0;
	left: 50%;
	margin-left: -93px;
	position: absolute;
	width: 189px;
	z-index: 99;
	display: none;
	line-height: 1.3;
}
.catalog-menu .submenu-top
{
	background: url(images/top.png);
	height: 49px;
}
.catalog-menu .submenu-bottom
{
	background: url(images/bottom.png);
	height: 10px;
}
.catalog-menu .submenu
{
	display: block;
	background: url(images/middle.png);
	width: 100%;
	border: none;
	position: relative;
	padding: 5px 0;
}
.catalog-menu .submenu ul
{
	width: 189px;
}
.catalog-menu .submenu
{	
	text-align: center !important;
	display: block;
	font-size: 12px;
}
.catalog-menu .submenu a img
{
	border: none !important;
}